<div class="ui container default-container">
  <!--<h4>最近更新</h4>-->
  <!--<div class="ui divider"></div>-->
  <!--<div class="ui five doubling cards">-->
    <!--<div class="card episode-card" *ngFor="let episode of recentEpisodes">-->
      <!--<a class="image" [routerLink]="['Play', {episode_id: episode.id}]">-->
        <!--<ui-image-placeholder [imageUrl]="episode.thumbnail">-->
          <!--<div class="ui-image-fallback">-->
            <!--<h4 class="ui icon film icon-holder">-->
              <!--<i class="film icon"></i>-->
            <!--</h4>-->
          <!--</div>-->
        <!--</ui-image-placeholder>-->
      <!--</a>-->
      <!--<a class="content" [routerLink]="['Play', {episode_id: episode.id}]">-->
        <!--<span>{{episode.bangumi.name_cn}}</span>-->
        <!--<span>第{{episode.episode_no}}话</span>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <h4>ON AIR</h4>
  <div class="ui divider"></div>
  <div class="ui active inverted dimmer on-air-loading-wrapper" *ngIf="!onAirBangumi">
    <div class="ui medium loader"></div>
  </div>
  <div class="ui five doubling cards" *ngIf="onAirBangumi">
    <div class="card bangumi-card" *ngFor="let bangumi of onAirBangumi">
      <a class="image" [routerLink]="['/bangumi', bangumi.id]">
        <ui-image-placeholder [imageUrl]="bangumi.cover">
          <div class="ui-image-fallback">
            <h4 class="ui icon film icon-holder">
              <i class="film icon"></i>
            </h4>
          </div>
        </ui-image-placeholder>
      </a>
      <a class="content" [routerLink]="['/bangumi', bangumi.id]">
        <span>{{bangumi.name_cn}}</span>
      </a>
    </div>
  </div>
</div>
