<div class="ui container default-container">
    <div class="ui fluid two item secondary pointing menu">
        <a class="item" [ngClass]="{active: bangumiType === 2}" (click)="changeBangumiType(2)">动画</a>
        <a class="item" [ngClass]="{active: bangumiType === 6}" (click)="changeBangumiType(6)">日剧</a>
    </div>
    <div class="ui active inverted dimmer on-air-loading-wrapper" *ngIf="!onAirBangumi">
        <div class="ui medium loader"></div>
    </div>
    <div class="ui five doubling cards" *ngIf="onAirBangumi">
        <div class="card bangumi-card" *ngFor="let bangumi of onAirBangumi">
            <a class="image" [routerLink]="['/bangumi', bangumi.id]">
                <responsive-image [src]="bangumi.cover" [size]="{width: '100%', ratio: 1.405152224824}" [background]="bangumi.cover_color"></responsive-image>
            </a>
            <div *ngIf="bangumi.favorite_status" class="ui ribbon label"
                 [ngClass]="{
                   orange: bangumi.favorite_status === 1,
                   olive: bangumi.favorite_status === 2,
                   blue: bangumi.favorite_status === 3,
                   brown: bangumi.favorite_status === 4,
                   grey: bangumi.favorite_status === 5
                   }">{{FAVORITE_LABEL[bangumi.favorite_status]}}
            </div>
            <a class="content" [routerLink]="['/bangumi', bangumi.id]">
                <span>{{bangumi.name_cn}}</span>
            </a>
        </div>
    </div>
</div>
