<div class="preview-video-container">
    <div class="theater-backdrop" (click)="focusVideoPlayer($event)">
        <video-player class="player-width player-height"
                      [videoFile]="videoFile"
                      (onProgress)="onProgressUpdate($event)"></video-player>
    </div>
    <div class="pv-info-container" *ngIf="!!manifest">
        <div class="current-pv" [@timing]="currentPVState">
            <div class="bgm-image" *ngIf="!!currentPV.image">
                <img [src]="currentPV.image" alt="">
            </div>
            <div class="info">
                <h3 class="title" *ngIf="!!currentPV.name_cn">
                    <a [href]="'https://bgm.tv/subject/' + currentPV.bgm_id" target="_blank">{{currentPV.name_cn}}</a>
                </h3>
                <h3 class="title" *ngIf="!currentPV.name_cn">
                    <a [href]="'https://bgm.tv/subject/' + currentPV.bgm_id" target="_blank">{{currentPV.name}}</a>
                </h3>
                <h4 class="sub-title" *ngIf="!!currentPV.name_cn">{{currentPV.name}}</h4>
                <div class="summary" [innerHTML]="currentPV.summary" *ngIf="!!currentPV.summary">
                </div>
                <div class="air-date">放送开始：{{currentPV.air_date}}</div>
            </div>
        </div>
    </div>
</div>