.theater-backdrop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  background-color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}