ui-input {
  display: block;
}

.ui-input-wrapper {
  position: relative;

  [ui-message] {
    display: none;

    &.ui-invalid {
      display: inline-block;
    }
  }

  .floating-error.label {
    position: absolute;
    top: -1.5em;
    right: -1em;
    z-index: 100;
  }
}
