<admin-navbar navTitle="Web Hook管理">
    <a class="action-item anchor-button" (click)="addWebHook()">
        <i class="plus icon"></i>添加Web Hook
    </a>
</admin-navbar>
<div class="content-area">
    <div class="all-web-hook-container" *ngIf="!isLoading && webHookList && webHookList.length > 0">
        <infinite-list [rowHeight]="cardHeight">
            <web-hook-card *infiniteFor="let webHook of webHookList"
                          [webHook]="webHook"
                          (click)="editWebHook(webHook)"></web-hook-card>
        </infinite-list>
    </div>
    <div class="no-result-container" *ngIf="!isLoading && webHookList && webHookList.length === 0">
        <div class="no-result-tips"><i class="warning circle icon"></i>还没有添加Web Hook</div>
    </div>
    <div class="searching-container" *ngIf="isLoading">
        <div class="ui inverted massive text active loader">Loading...</div>
    </div>
</div>