<div class="episode-detail-modal">
    <div class="content">
        <form class="ui form" [formGroup]="episodeForm">
            <div class="fields">
                <div class="four wide field">
                    <label>序号</label>
                    <input type="number" placeholder="序号" formControlName="episode_no" name="episode_no">
                </div>
                <div class="twelve wide field">
                    <label>bgm id</label>
                    <input type="text" placeholder="bgm.tv的对应id" formControlName="bgm_eps_id" name="bgm_eps_id">
                </div>
            </div>
            <div class="field">
                <label>标题</label>
                <input type="text" placeholder="标题" formControlName="name" name="name">
            </div>
            <div class="field">
                <label>标题(中文)</label>
                <input type="text" placeholder="中文标题" formControlName="name_cn" name="name_cn">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>放送日期(YYYY-MM-DD)</label>
                    <input type="text" placeholder="放送日期" formControlName="airdate" name="airdate">
                </div>
                <div class="field">
                    <label>时长(HH:mm:dd)</label>
                    <input type="text" placeholder="时长" formControlName="duration" name="duration">
                </div>
                <!--<div class="two wide field">-->
                    <!--<label>上传文件</label>-->
                    <!--<input type="file" #filePikcer (change)="onFileSelect(filePikcer.files)">-->
                    <!--<span *ngIf="uploadProgress">{{uploadProgress}}%</span>-->
                <!--</div>-->
            </div>
            <div class="inline fields">
                <label>状态</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="status" formControlName="status" [value]="0">
                        <label>未下载</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="status" formControlName="status" [value]="1">
                        <label>下载中</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="status" formControlName="status" [value]="2">
                        <label>已下载</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="ui label episode-status-label" [ngClass]="episodeStatus[episode.status].labelColor" *ngIf="episode">
            {{episodeStatus[episode.status].text}}
        </div>
        <button class="ui button" (click)="cancel()">取消</button>
        <button class="ui primary button" (click)="saveEpisode()">保存</button>
    </div>
    <div class="ui inverted dimmer" [ngClass]="{active: busy}">
        <div class="ui loader"></div>
    </div>
</div>