<div class="center-box-background">
  <div class="center-box-frame">
    <div class="center-box">
      <header class="center-box-header">
        <h1>
          <span>{{siteTitle}}</span>
        </h1>
      </header>
      <div class="center-box-body">
        <form class="ui form" (ngSubmit)="login()" [ngFormModel]="loginForm" [ngClass]="{error: !loginForm.valid}">
          <!--<div class="field input-field" [ngClass]="{error: !loginForm.controls.name.valid && loginForm.controls.name.dirty}">-->
            <!--<input type="text" ngControl="name" required placeholder="用户名"/>-->
            <!--<div class="floating-error ui red pointing below basic label" *ngIf="!loginForm.controls.name.valid && loginForm.controls.name.dirty">用户名不能为空</div>-->
          <!--</div>-->
          <ui-input ngControl="name" type="text" placeholder="用户名">
            <div ui-message="required">用户名不能为空</div>
          </ui-input>
          <div class="field input-field" [ngClass]="{error: !loginForm.controls.password.valid && loginForm.controls.password.dirty}">
            <input type="password" ngControl="password" required placeholder="密码"/>
            <div class="floating-error ui red pointing below basic label" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">密码不能为空</div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ngControl="remember">
              <label>保存登录状态</label>
            </div>
          </div>
          <button class="ui primary button large fluid submit" type="submit" [disabled]="!loginForm.valid">登录</button>
        </form>
        <div class="forget-link additional-info">
          <a [routerLink]="['Forget']">忘记密码</a>
        </div>
        <div class="additional-info">
          <a [routerLink]="['Register']">创建新用户</a>
        </div>
        <div *ngIf="errorMessage">
          <p class="error-message">{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
