<div class="center-box-background">
  <div class="center-box-frame">
    <div class="center-box">
      <header class="center-box-header">
        <h1>
          <span>{{siteTitle}}</span>
        </h1>
      </header>
      <div class="center-box-body">
        <form class="ui form" (ngSubmit)="login()" [formGroup]="loginForm" [ngClass]="{error: !loginForm.valid}" novalidate>
          <div class="ui field">
            <input type="text" formControlName="name" placeholder="用户名">
          </div>
          <div class="ui field">
            <input type="password" formControlName="password" placeholder="密码">
          </div>
          <div class="field" id="remember-login">
            <div class="ui checkbox">
              <input type="checkbox" formControlName="remember">
              <label>保存登录状态</label>
            </div>
          </div>
          <button class="ui primary button large fluid submit" type="submit" [disabled]="!loginForm.valid">登录</button>
          <div class="ui inverted dimmer active page" *ngIf="inProgress">
            <div class="ui loader"></div>
          </div>
        </form>
        <div class="forget-link additional-info">
          <a [routerLink]="['/forget']">忘记密码</a>
        </div>
        <div class="register-link additional-info">
          <a [routerLink]="['/register']">创建新用户</a>
        </div>
        <div class="ui error message" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
