.bangumi-list-container {
  padding-top: 2rem;

  .bangumi-segment {
    color: inherit;
  }

  .bangumi-info {
    .summary {
      margin-bottom: 1rem;
    }
  }
}

.bangumi-list-pagination {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
