keyword-builder {
  .input-box-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    input[type="text"] {
      flex: 1 1 auto;
    }

    button.ui.primary {
      flex: 0 1 auto;
      margin-left: 2rem;
    }

    button.ui.negative {
      flex: 0 1 auto;
      margin-left: 1rem;
    }
  }
}
