@slider-dragger-color: #d1d1d1;

ui-slider {
  display: block;
  width: 100%;
  height: 11px;
  cursor: pointer;
  .slider-wrapper {
    display: block;
    .slider-bar {
      height: 3px;
      width: 100%;
      position: relative;
      background-color: #e8e8e8;
      .slider-bar-progress {
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #bebebe;
      }
      .slider-bar-dragger {
        width: 9px;
        height: 9px;
        position: absolute;
        transform: translateX(-50%);
        top: -3px;
        background-color: @slider-dragger-color;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        &:hover {
          background-color: lighten(@slider-dragger-color, 5%);
        }
      }
    }
  }
}
