@sliderHandlerRadius: 5px;

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mute-button {
  display: inline-block;
  flex: 0 0 auto;
  padding: 0.4rem;
  cursor: pointer;
  line-height: 1;
  > .icon.volume {
    position: relative;
  }
  > .icon.volume.down {
    left: -2px;
  }
  > .icon.volume.off {
    left: -3px;
  }
}

.volume-slider-wrapper {
  display: inline-block;
  flex: 0 0 auto;
  position: relative;
  width: 4rem;
  height: 1rem;
  cursor: pointer;
  .volume-slider-bg {
    width: 100%;
    height: 0.3rem;
    position: relative;
    top: 0.35rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .volume-slider-current {
    position: absolute;
    height: 0.3rem;
    top: 0.35rem;
    background-color: #f8f8f8;
  }
  .slider-handler-slot {
    display: block;
    position: absolute;
    top: 0;
    left: @sliderHandlerRadius;
    bottom: 0;
    right: @sliderHandlerRadius;
    > .slider-handler {
      position: relative;
      margin-left: -@sliderHandlerRadius;
      margin-top: 0.15rem;
      border-radius: @sliderHandlerRadius;
      width: 2 * @sliderHandlerRadius;
      height: 2 * @sliderHandlerRadius;
      background-color: #f8f8f8;
    }
  }

}
