<nav class="navbar">
    <a class="sidebar-toggle" (click)="toggleSidebar($event)">
        <i class="icon sidebar"></i>
    </a>
    <a class="brand" [routerLink]="['/']">
        <h2>{{siteTitle}}</h2>
    </a>
    <!--<div class="christmas-tree">-->
        <!--<img src="/assets/img/christmas-tree.svg" alt="">-->
    <!--</div>-->
    <!--<div class="new-year">-->
        <!--<img src="/assets/img/newyear2018.png" alt="" title="Happy New Year 2018!">-->
    <!--</div>-->
    <div class="ui static-search small action input">
        <input type="text" placeholder="Search..." #staticSearch (keyup.enter)="searchBangumi(staticSearch.value)">
        <button class="ui basic icon button" (click)="searchBangumi(staticSearch.value)">
      <i class="search icon"></i>
    </button>
    </div>
    <div class="right-area">
        <user-action [user]="user"></user-action>
        <a class="search-toggle-button" (click)="toggleFloatSearchFrame()">
            <i class="search icon"></i>
        </a>
    </div>
    <div class="float-search-frame" *ngIf="showFloatSearchFrame">
        <a class="close-button" (click)="toggleFloatSearchFrame()">
            <i class="close icon"></i>
        </a>
        <div class="ui float-search transparent icon input">
            <input type="text" placeholder="Search..." #floatSearch (keyup.enter)="searchBangumi(floatSearch.value)">
            <i class="search icon"></i>
        </div>
    </div>
</nav>
<div class="sidebar-overlay-backdrop"
     *ngIf="sidebarOverlap && sidebarActive === 'active'"
     (click)="onClickSidebarBackdrop($event)"></div>
<div class="ui sidebar visible ui vertical menu home-sidebar" (click)="onClickSidebar($event)" [@sidebarActive]="sidebarActive">
    <a class="item" [routerLink]="['/']">首页</a>
    <a class="item" [routerLink]="['/bangumi']">所有番组</a>
    <a class="item" [routerLink]="['/favorite']">我的收藏</a>
    <a class="item" [routerLink]="['/admin']" *ngIf="user && user.level >= 2">Management</a>
    <div class="item">
        <my-bangumi></my-bangumi>
    </div>
</div>
<main class="home-content" [ngClass]="currentRouteName + (sidebarActive === 'active' ? ' sidebar-active': '')">
    <router-outlet></router-outlet>
</main>

<footer id="page-footer" [ngClass]="currentRouteName + (sidebarActive === 'active' ? ' sidebar-active': '')"
        *ngIf="currentRouteName !== 'Bangumi' && currentRouteName !== 'Favorite'">
    <div class="copyright-content">&copy;2016 - 2019 Nyasoft, All rights reserved.</div>
    <div class="credits">Powered By <a target="_blank" href="https://github.com/lordfriend/Albireo">Albireo</a></div>
    <div class="ui horizontal bulleted link list">
        <a routerLink="/about/tos" class="item">Terms and Conditions</a>
        <a routerLink="/about/privacy" class="item">Privacy Policy</a>
        <a routerLink="/about/developers" class="item">Developers</a>
        <a routerLink="/about/apps" class="item">Apps</a>
    </div>
</footer>

<bottom-float-banner></bottom-float-banner>