@import "./default/default.less";
@import "./play-episode/play-episode.less";
@import "./player/player.less";
@import "./bangumi-detail/bangumi-detail.less";

.navbar {
  width: 100%;
  height: 3.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  .sidebar-toggle {
    display: block;
    font-size: 1.2rem;
    color: #4c4c4c;
    cursor: pointer;
    padding-left: 1.5rem;
    &:focus,
    &:hover {
      color: #101010;
    }
  }

  .brand {
    display: block;
    padding: 0 1rem;
    color: #101010;
  }
}

.home-sidebar {
  padding-top: 3.5rem;
}

.home-content {
  margin-top: 3.5rem;

  &.Default.sidebar-active,
  &.Bangumi.sidebar-active {
    padding-left: 15em;
  }

  @media (max-width: 1330px) {
    &.Default.sidebar-active,
    &.Bangumi.sidebar-active {
      padding-left: 0;
    }
  }
}

.episode-card {
  ui-image-placeholder {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .icon-holder {
      font-size: 2rem;
    }
  }
}

.bangumi-card {
  ui-image-placeholder {
    width: 100%;
    height: 0;
    padding-bottom: 140.5152224824%;
    position: relative;
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .icon-holder {
      font-size: 2rem;
    }
  }
}
