<admin-navbar navTitle="已保存的新番">
    <div class="ui icon input action-item search-action">
        <input type="text" placeholder="按名称过滤" #searchBox (keyup)="filterBangumi(searchBox.value)">
        <i class="search icon"></i>
    </div>
</admin-navbar>
<div class="content-area">
    <div class="all-bangumi-container" *ngIf="!name && !isLoading && bangumiList && bangumiList.length > 0">
        <ui-timeline-meter [rowHeight]="cardHeight" [timestampList]="timestampList">
            <infinite-list [rowHeight]="cardHeight">
                <bangumi-card *infiniteFor="let bangumi of bangumiList" [bangumi]="bangumi" [showAddedTag]="false" (click)="editBangumi(bangumi)"></bangumi-card>
            </infinite-list>
        </ui-timeline-meter>
    </div>
    <div class="search-result-container" *ngIf="!!name && !isLoading && bangumiList && bangumiList.length > 0">
        <div class="bangumi-list">
            <bangumi-card *ngFor="let bangumi of bangumiList" [bangumi]="bangumi" [showAddedTag]="false" (click)="editBangumi(bangumi)">
            </bangumi-card>
        </div>
        <div class="column center ui centered grid">
            <ui-pagination [currentPage]="currentPage" [total]="total" [countPerPage]="numberPerPage" (pageChange)="onPageChange($event)"></ui-pagination>
        </div>
    </div>
    <div class="no-result-container" *ngIf="!isLoading && bangumiList && bangumiList.length === 0">
        <div class="no-result-tips"><i class="warning circle icon"></i>没有找到新番</div>
    </div>
    <div class="searching-container" *ngIf="isLoading">
        <div class="ui massive text active loader">Loading...</div>
    </div>
</div>
